{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Manage Librarian</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css'%}">
</head>

<body id="page-top">
    <div id="wrapper">
        {% include "admin/menu.html" %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include "admin/navbar.html" %}
                <div class="container-fluid">
                    <h3 class="text-dark mb-4" style="font-weight: bold;">Librarian List</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold"><span style="color: rgb(3, 1, 37);">Librarian Info</span></p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"></div>
                                    <a class="link-info" href="{% url "add_librarian" %}">
                                        <i class="fas fa-user-plus" style="color: #030125;font-size: 27px;"></i>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end dataTables_filter" id="dataTable_filter">
                                        <label class="form-label">
                                            <input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th style="color: #030125;text-align: center;">Name</th>
                                            <th style="color: #030125;text-align: center;">E-mail</th>
                                            <th style="color: #030125;text-align: center;">Password</th>
                                            <th style="color: #030125;text-align: center;">Address</th>
                                            <th style="color: #030125;text-align: center;">Created Date</th>
                                            <th style="color: #030125;text-align: center;">Updated Date</th>
                                            <th style="color: #030125;text-align: center;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for lbr in librarian %}
                                        <tr>
                                            <td>{{ lbr.firstname }} {{ lbr.lastname }}</td>
                                            <td>{{ lbr.mail }}</td>
                                            <td>{{ lbr.password }}</td>
                                            <td>{{ lbr.address }}</td>
                                            <td>{{ lbr.created_date|date:"Y-N-d, h:i:s A" }}</td>
                                            <td>{{ lbr.updated_date|date:"Y-N-d, h:i:s A" }}</td>
                                            <td>
                                                <a class="link-secondary" href="{% url 'edit_librarian' lbr.id %}">
                                                    <i class="fas fa-edit" style="color: #030125;"></i>
                                                </a>
                                                &nbsp;&nbsp;&nbsp;
                                                <a class="link-danger" href="{% url 'delete_librarian' lbr.id %}"
                                               onclick="return confirm('Are you sure to delete {{ lbr.firstname }} ?')">
                                                    <i class="fas fa-trash" style="color: #030125;"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr></tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "admin/footer.html" %}
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/theme.js'%}"></script>
</body>

</html>